html {
  height: 100%;
  overflow: hidden;
}
.info {
  position:absolute;
  top:70px;
  right:0px;
  transition: left 0.5s, width 0.5s;
  overflow: hidden;
  height: 100%;
}

.info div {
   background:rgba(0,0,0,1);
   padding-top: 20px;
   padding-right: 20px;
   padding-bottom: 20px;
   padding-left: 20px;
   border-radius:3px;
   height: 100%;
   color: white;
   width: 350px;
   overflow: hidden;
   height: 100%;
}

#mapContainer{
   height: 100%;
}

#map{
   position:absolute; 
   bottom:0; 
   width:100%; 
   height: 100%;
   overflow: hidden;
}


.menu {
  background: rgba(0,0,0,1);
  position:absolute;
  width:120px;
  top:120px;
  left:0px;
  border-radius:2px;
}
.menu .item {
  display:block;
  border-bottom:0px solid #eee;
  padding:10px;
  text-decoration:none;
}
  .menu .item { color:#888; font-size: 16px; color: white;}
  .menu .item:hover,
  .menu .item.active { background:white; color: black;}
  .menu .item:last-child { border-bottom:none; }

.infoRight {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.infoRight h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  text-align: left;
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 50px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.headline{
font-size: 36px;
}

ul.pagination1 {
  margin-left: -70px;
}

/*ul.pagination1 li:hover{
  background-color: #FF9500;
}*/

ul.pagination1 li{
  padding-left: 10px;
  padding-top: 10px;
  background-color: black;
  font-size: 20px;
  color: #fff;
  line-height: 1;
  width: 320px;
  margin-bottom: 1px;
  list-style:none;
  border-bottom:1px solid #eee;
}

ul.pagination1 p{
  font-size: 12px;
  color: moccasin;
}

ul.pagination1 li p:first-child{
  padding-top: 5px;
}

ul.red {
  outline:10px solid red;
}

ul.simplePagerNav li{
  display:block;
  float: left;
  padding: 10px;
  margin-bottom: 10px;
  font-family: georgia;
  font-size:14px;
}

ul.simplePagerNav li a{
  color: #fff;
  text-decoration: none;
  font-family: Helvetica,Arial,sans-serif;
}

li.currentPage {
  background: moccasin;  
  width: 30px;
  height: 30px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

ul.simplePagerNav li.currentPage a {
  color: black;  
}

table.pageme {
  border-collapse: collapse;
  border: 1px solid #ccc;
}  

table.pageme td {
  border-collapse: collapse;
  border: 1px solid #ccc;
}

.simplePagerNav{
  margin-left: -60px;
}

footer {
  margin-bottom: 0px;
  z-index: 99999;
}


img.logo {
    position: absolute;
    top: 0px;
    left: 10px;
    width: 80px;
    z-index: 1001;
}


#banner {
    height: 89px;
    font-size: 18px;
    line-height: 22px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-right: 300px;
    padding: 0px;
    padding-left: 120px;
    background-color: #000000;
    z-index: 1000;
}

#banner .title {
    left: 120px;
    margin: 8px 0;
    color: #fff;
}

#banner .ticker {
    height: 60px;
    overflow: hidden;
    padding: 20px;
    margin: 0;
    float: left;
    clear: both;
    font-weight: 600;
    background-color: #fff;
    color: #000;
    width: 100%;
    position: absolute;
    top: 40;
    left: 0;
    padding-left: 120px;
}

.h2sidebarTitle {
  color: #f5f5f5;
  font-size: 28px;
  font-weight: 700;
  font-family: Helvetica,Arial,sans-serif;
  margin-top: 40px;
}

.h2sidebarDesc {
  color: #f5f5f5;
  font-size: 20px;
  font-weight: 400;
  font-family: Helvetica,Arial,sans-serif;
}

a {
  color: #f5f5f5;
  text-decoration: none;
  font-size: 16px;
}

a:hover {
  text-decoration: underline;
  color: #f5f5f5;
}

a:active {
  text-decoration: underline;
  color: #f5f5f5;
}

a:visited {
  text-decoration: none;
  color: #f5f5f5;
}

h1, h2, h3 {
  letter-spacing: 0px;
}

p {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
}

.ticker a {
  color: #000000;
}

.ticker a:hover {
  color: #000000;
}




