.info {
  position:absolute;
  top:70px;
  right:0px;
  transition: left 0.5s, width 0.5s;
  overflow: scroll;
}

.info div {
   background:rgba(0,0,0,1);
   padding:40px;
   border-radius:3px;
   height: 100%;
   color: white;
   width: 350px;
   overflow: scroll;
}

#mapContainer{
   height: 100%;
}

#map{
   position:absolute; 
   bottom:0; 
   width:100%; 
   height: 100%;
   overflow: hidden;
}


.menu {
  background: rgba(0,0,0,1);
  position:absolute;
  width:120px;
  top:70px;
  left:0px;
  border-radius:2px;
}
.menu .item {
  display:block;
  border-bottom:0px solid #eee;
  padding:10px;
  text-decoration:none;
}
  .menu .item { color:#888; font-size: 16px; color: white;}
  .menu .item:hover,
  .menu .item.active { background:white; color: black;}
  .menu .item:last-child { border-bottom:none; }

.infoRight {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.infoRight h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  text-align: left;
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 50px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.headline{
font-size: 36px;
}

ul.pagination1 {
  margin-left: -85px;
}

ul.pagination1 li:hover{
  background-color: #FF9500;
}

ul.pagination1 li{
  padding: 10px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  background-color: black;
  font-size: 20px;
  color: #fff;
  line-height: 1;
  width: 290px;
  margin-bottom: 1px;
  list-style:none;
  border-bottom:1px solid #eee;
}

ul.pagination1 p{
  font-size: 12px;
}

ul.pagination1 li p:first-child{
  padding-top: 5px;
}

ul.red {
  outline:10px solid red;
}

ul.simplePagerNav li{
  display:block;
  float: left;
  padding: 10px;
  margin-bottom: 10px;
  font-family: georgia;
  font-size:14px;
}

ul.simplePagerNav li a{
  color: #333;
  text-decoration: none;
}

li.currentPage {
  background: red;
  background: #FF9500;  
}

ul.simplePagerNav li.currentPage a {
  color: #fff;  
}

table.pageme {
  border-collapse: collapse;
  border: 1px solid #ccc;
}  

table.pageme td {
  border-collapse: collapse;
  border: 1px solid #ccc;
}

.simplePagerNav{
  margin-left: -85px;
}

footer {
  margin-bottom: 0px;
  z-index: 99999;
}



